		body{
				background-color:#ECEFF1;
				position:relative;
				top:70px;
			}
			
			#contenedor-inicio{
/* 				background-color:#F7F7F7; */
 				background-color:#F5F5F5; 
			}
			
			#lateral{
				width:120px;
				height: 550px;
				background-color: black;
			}
			#producto{
				max-width: 220px;
/* 				background-color:#1F2833; */
				background-color:white;
				box
			}
			#producto-info{
				width: 200px;
				background-color:white;
				margin-left:5px;
			}
			hr{
				border: 1px solid #F27490;
			}
			#banner{
/* 				background-color:#0B0C10; */
				background-color:#F27490;
/* 				height:66px; */
			}
			
			#nombre{
				margin-top:30px;
			}
			
			#subir-producto{
				background-color:#ECEFF1;
				border-style: dashed;
				border-color:#F27490;
				margin-top:50px;
				margin-bottom:50px;
			}
			#contenedor-imagen{
			 width:636px;
			 
			}
			
			#contenedor{
			 width:650px;
			}
			#barra-inicio{
				z-index: 1; 
   				top: 0;
				position:fixed;
				margin-bottom:50px;
				
			}
			
			#form:focus{
    			border-color: #F27490;
        		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5);
    		}
    		
    		.fa-user-circle{
    			color:white;
    			font-size:40px;
    		}
    		
    		.fa-plus-circle{
    			color:white;
    			font-size:40px;
    		}
    		.fa-home{
    			color:white;
    			font-size:40px;
    		}
    		
    		.fa-power-off{
    			color:white;
    			font-size:40px;
    		}
    		#inicio{
    			background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    			border-radius:25px;
    			max-width: 150px;
    			min-height: 47.78px;
    			
    		}
    		#texto-inicio{
				color:white;
				font-size:14px;
				padding-bottom:20px;	
			}
			
    		#usuario-login{
    			background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    			border-radius:25px;
    			max-width: 150px;
    			margin-right:30px;
    		}
    		

    		#usuario-subir{
    			background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
/*     			background-color:#1F2833; */
    			border-radius:25px;
    			max-width: 150px;
    			margin-right:20px;
    		}
    		
			#texto-usuario-login{
				color:white;
				font-size:14px;
				padding-bottom:20px;
				position: relative;
    			top: -8px;
   				right: -5px;
			}
			#texto-usuario-subir{
				color:white;
				font-size:14px;
				padding-bottom:20px;
				position: relative;
    			top: -8px;
   				left: -5px;
			}
			#textarea_feedback{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:12px;	
    		}