		body{
/* 				background-color:#ECEFF1; */
				background-color:white;
				position:relative;
				top:70px;
			}
			
			p{
				text-align: justify;
			}
			
			#contenedor-inicio{
/* 				background-color:#ECEFF1; */
				background-color:white; 
				margin-top: 50px;
				min-height: 850px;
			}
			
			#contenedor-columna{
    		
    			padding-bottom:30px;
    			min-height: 580px;
    		}
			
			#lateral{
				width:120px;
				height: 550px;
				background-color: black;
			}
			#producto{
				padding:0px;
				margin:5px 5px 5px 5px;
				max-width: 220px;
				background-color:white;
				height:394px;
				box-shadow: 0px 0px 10px 0px rgba(199,187,199,1);
				user-select: none; 
			}
			#producto:hover{
				transition: 0.25s;
				transition-timing-function: ease-in-out;
				transform : translate(0, -2px);
				
			}
			
			#redes-sociales{
    			margin-top:15px;
    			cursor:pointer;
    		}
			#titulo-negrita{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-weight: bold;
    			font-size:14px;
    			text-transform: uppercase;
    		}
			#producto-info{
				width: 200px;
				background-color:white;
			}
			
			.boton-pagina{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			color:white;
    			font-size:18px;
				background-color:#1F2833;
    		}
    		
    		.boton-pagina:hover{
    			background-color:#F27490;
    			cursor:pointer;
    		}
    		
    		#alta:hover{
    			background-color:#F27490;    			
    		}
			
			
			#producto-datos-usuario{
				margin-top:15px;
			}
			#producto-datos-usuario:hover{
				
			}
			#valoracion-index{
				margin-top:15px;
			}
			#mensaje-index{
				margin-top:100px;
				font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:32px;	
			}
			hr{
				border: 1px solid #F27490;
			}
			hrr{
				border: 1px solid white;
			}
			#banner{
/* 				background-color:#0B0C10; */
				background-color:#F27490;
				user-select: none;
/* 				height:66px; */
			}
			
			#mostrar{
				margin-top:50px;
			
			}
			
			#nombre{
				margin-top:30px;
			}
			
			#subir-producto{
				background-color:#ECEFF1;
				border-style: dashed;
				border-color:#F27490;
				margin-top:50px;
				margin-bottom:50px;
			}
			#contenedor-imagen{
			 width:636px;
			 
			}
			
			#contenedor{
			 width:650px;
			}
			#barra-inicio{
				z-index: 1; 
   				top: 0;
				position:fixed;
				margin-bottom:50px;
				
			}
			
			#form:focus{
    			border-color: #F27490;
        		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5);
    		}

    		.fa-twitter-square{
    			color:white;
    			font-size:50px;
    		}
    		.fa-facebook-square{
    			color:white;
    			font-size:50px;
    		}
    		.fa-user-circle{
    			color:white;
    			font-size:35px;
    		}
    		
    		.fa-plus-circle{
    			color:white;
    			font-size:35px;
    		}
    		.fa-home{
    			color:white;
    			font-size:35px;
    		}
    		.fa-arrow-circle-up{
    			color:white;
    			font-size:35px;
    		}
    		
    		.fa-power-off{
    			color:white;
    			font-size:35px;
    		}
    		#inicio{
    			background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    			border-radius:25px;
    			max-width: 150px;	
    		}
    		
    		#texto-inicio{
				color:white;
				font-size:14px;
				padding-bottom:20px;	
			}
			
    		#usuario-login{
    			background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    			border-radius:25px;
    			max-width: 150px;
    			margin-right:30px;
    		}
    		

    		#usuario-subir{
    			background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
/*     			background-color:#1F2833; */
    			border-radius:25px;
    			max-width: 150px;
    			margin-right:20px;
    		}
    		
			#texto-usuario-login{
				color:white;
				font-size:14px;
				padding-bottom:20px;
				position: relative;
    			top: -8px;
   				right: -5px;
			}
			
			.fa-arrow-circle-up:active{
				color:#F27490;
			}
			
			.fa-user-circle:active{
				color:#F27490;
			}
			
			.fa-plus-circle:active{
				color:#F27490;
			}
			
			.fa-power-off:active{
				color:#F27490;
			}
			#texto-usuario-subir{
				color:white;
				font-size:14px;
				padding-bottom:20px;
				position: relative;
    			top: -8px;
   				left: -5px;
			}
			
			#texto-usuario-subir:active{
				color:#1F2833;
			}
			#textarea_feedback{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:12px;	
    		}
    		
    		@media only screen and (max-width : 992px) {
				#menu{
    				min-width: 180px;
    			} 	
			 			
    		}
    		
    		@media only screen and (max-width : 576px) {
				#menu{
    				max-width: auto;
    			} 	
			 			
    		}
    		
    		@media only screen and (min-width : 526px) {
				#contenedor-icono{
    				display: none;
    			} 	
				#icono{
    				display: none;
    			} 			
    		}
    	
    		
    		@media only screen and (max-width : 525px) {
				#usuario-login{
    				display: none;
    			}
    			#usuario-subir{
    				display: none;
    			}
    			#inicio{
    				display: none;
    			}
    			#imagen-perfil{
    				display: none;
    			}
    			
				.fa-arrow-circle-up{
	    			color:#1F2833;
	    			font-size:45px;
    			}
    			
    			.fa-user-circle{
    				color:#1F2833;
    				font-size:45px;
    			}
    		
    			.fa-plus-circle{
    				color:#1F2833;
    				font-size:45px;
    			}
    			.fa-home{
    				color:#1F2833;
    				font-size:45px;
    			}
	    		.fa-power-off{
	    			color:#1F2833;
	    			font-size:45px;
	    		}
    			
    			.fa-arrow-circle-up:active{
	    			color:white;
	    			
    			}
    			.fa-user-circle:active{
    				color:white;
    			}
    		
    			.fa-plus-circle:active{
    				color:white;
    			}
    			.fa-home:active{
    				color:white;
    			}
    			.fa-power-off:active{
	    			color:white;
	    		}
    		}
    		
    		.fa-star{
    			color:#ECEFF1;
    		}
    		
    		#footer{
    			margin-top:50px;
    			background-color:#1F2833;
    			padding-top:20px;
    			padding-bottom:50px;
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:20px;
    			color:white;
    			min-height: 275px;
    		}
    		#columna-footer{
    			margin-top:30px;
			}
			
    		#link{
    			color:#AEAEAE;
    			margin-top:5px;
    		}
    		#link:hover{
    			color:#F27490;	
    		}
    		
    		#copyright{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:10px;
    			color:white;
    		}
    		#titulo-footer{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:30px;
    			font-weight:bold;
    			color:#F27490;
    		}
    		#titulo-footer-small{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:20px;
    			font-weight:bold;
    			color:white;
    		}
    		#link-footer{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:15px;
    			  				
    		}
    		
    		#link-negro{
    			color:black;
    		}#link-negro:hover{
    			color:#F27490;
    		}
    		
    		#error-alta{
    			
    			margin-top:15px;
    			margin-bottom:15px;
    		}

    		#error-alta-texto{
    			font-size:10px;
    			
    		}
    		
    		#contenedor-talla{
    			padding:0;
    			padding-top:9px;
    			margin-left:10px;
    			border-radius: 50%;
    			min-width: 45px;
			    min-height: 45px;
			    font-family: Trade Gothic, Charcoal, sans-serif; 
			    font-size:16px;
			    color:white;
			    background-color:black;
			    border: 2px solid #F27490;
    		}
    		#contenedor-talla-ver{
    			padding:0;
    			margin-left:20px;
    			padding-top:14px;
    			border-radius: 50%;
    			min-width: 60px;
			    min-height: 60px;
			    max-width: 60px;
			    max-height: 60px;
			    font-family: Trade Gothic, Charcoal, sans-serif; 
			    font-size:18px;
			    color:white;
			    background-color:black;
			    border: 2px solid #F27490;
    		}#marca-ver{
    			
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:40px;
    			font-weight: bold;
    			text-transform: uppercase;
    		}
    		
    		#modelo-ver{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:40px;	
    		}
    		
    		#anio-ver{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:40px;	
    			font-weight: bold;
    		}
    		#categoria-ver{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:28px;
    		}
    		#datos-ver{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:22px;
    			
    		}
    		#marca-producto{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:20px;
    			font-weight: bold;
    		}
    		
    		#modelo-producto{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:20px;
    			
    		}
    		#categoria{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:18px;
    		}
    		#datos{
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-size:15px;
    			font-weight: bold;
    		}#imagen-inicio{
    			
    			border: 1px solid black;
    		}
    		#contenedor-imagen-ver{
    		
    			max-height: 640px;
    			min-height: 640px;
    			max-width: 640px;
    		}
    		#titulo{
    			margin-top:20px;
    			font-family: Trade Gothic, Charcoal, sans-serif; 
    			font-weight: bold;
    			font-size:14px;
    			text-transform: uppercase;
    		}
    		#imagen-guia{
    			max-height: 350px;
    		}
    		#puntos{
    			display: flex;
    			flex-wrap: wrap;
    		}
    		#mensaje-baja{
    			margin-top:20px;
    		}
    		#ra{
			  float:left;
			  width:15%; padding-bottom:15%;
			  margin:0 2.5%;
			  background:#1F2833;
			  border-radius:50%;
			  cursor:pointer;
			}